# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Build

on:
  workflow_dispatch:
  push:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  cpplint:
    name: cpplint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Cache
        uses: actions/cache@v4
        with:
          key: ${{ runner.os }}-cpplint
          path: ~/.cache/pip

      - name: Pyhton
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: cpplint
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade cpplint
          cpplint \
            --repository=. \
            --recursive \
            --filter=-whitespace/line_length,-whitespace/braces,-whitespace/comments,-runtime/indentation_namespace,-whitespace/indent,-readability/braces,-whitespace/newline,-readability/todo,-build/c++11 \
            src

  platformio:
    name: "pio:${{ matrix.board }}"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        board: [
            "denky_d4",
            "esp32-c3-devkitc-02",
            "esp32-c6-devkitc-1",
            "esp32-gateway",
            "esp32-poe-iso",
            "esp32-poe",
            "esp32-s2-saola-1",
            "esp32-s3-devkitc-1",
            "esp32s3box",
            # "esp32-solo1",
            "esp32dev",
            "esp32s3box",
            "lolin_s2_mini",
            "tinypico",
            "wemos_d1_uno32",
            "wipy3",
            "wt32-eth01",
          ]

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Cache PlatformIO
        uses: actions/cache@v4
        with:
          key: ${{ runner.os }}-pio
          path: |
            ~/.cache/pip
            ~/.platformio

      - name: Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Build
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade platformio
          pip install --upgrade cryptography
          pip install --upgrade intelhex

      - name: Test
        run: PLATFORMIO_SRC_DIR=examples/Test PIO_BOARD=${{ matrix.board }} pio run -e ci-arduino-3

      - name: Big
        run: PLATFORMIO_SRC_DIR=examples/Big PIO_BOARD=${{ matrix.board }} pio run -e ci-arduino-3

  specials:
    name: "pio:${{ matrix.board }} (specials)"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        board: ["esp32dev"]

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Cache PlatformIO
        uses: actions/cache@v4
        with:
          key: ${{ runner.os }}-pio
          path: |
            ~/.cache/pip
            ~/.platformio

      - name: Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Build
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade platformio
          pip install --upgrade cryptography
          pip install --upgrade intelhex

      - name: Json
        run: PLATFORMIO_SRC_DIR=examples/Big PIO_BOARD=${{ matrix.board }} pio run -e ci-json

      - name: Test (no-ext-bool)
        run: PLATFORMIO_SRC_DIR=examples/Test PIO_BOARD=${{ matrix.board }} pio run -e ci-no-ext-bool

      - name: Test (64bits)
        run: PLATFORMIO_SRC_DIR=examples/Test PIO_BOARD=${{ matrix.board }} pio run -e ci-num64bits
